.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  padding: 12px;
  border-radius: 50px;
  font-size: 2vmin;
}

.NavBar {
  background-color: #434549;
  width: 100vw;
  height: 72px;
  position: fixed;
  top: 0px;
}